body{
    background: pink;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 100px;
  text-align: center;
  color: white;
  background: #333;
}

/*al hacer click*/
.key.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 20px #ffc600;
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-size: .8rem;
  text-transform: uppercase;
  color: #ffc600;
}
